* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-image: url(./images/bg-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
  background-blend-mode: normal;

  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: 'Open Sans';
}

a {
  cursor: pointer;
}
img {
  width: 100%;
  object-fit: contain;
}

h1,
h2,
a {
  font-family: 'Poppins';
  font-weight: 600;
}

header,
footer,
.container {
  width: 100%;
}

.container {
  min-width: 320px;
  padding-inline: max(38px, 5vw);
  justify-content: space-between;
  align-items: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'mockups'
    'register-box';
}

.logo {
  width: 40vw;
  align-self: flex-start;
  grid-area: logo;
  padding-left: max(38px, 5vw);
  padding-top: 5vh;
}

.mockups {
  grid-area: mockups;
}

.register-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  grid-area: register-box;
  margin-top: min(60px, 7.5vh);
}

.register-box h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
.register-box p {
  font-size: 1rem;
  margin-bottom: 1.625em;
}

.register-box a {
  padding: 0.6875em 5em;
  font-size: 1rem;
  background: white;
  color: hsl(257, 40%, 49%);
  border-radius: 50px;
  font-weight: 400;
  margin-bottom: 2em;
  transition: ease 0.3s;
}

.register-box a:hover {
  background: #e980e7;
  color: white;
}

.icon:hover::before {
  color: #fd52c2;
  border-color: #fd52c2;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4vh;
}
footer ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.icon {
  content: '';
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 0.925rem;
  color: white;
}

.icon::before {
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px;
}

.fa-facebook-f::before {
  padding: 8px 11px;
}

.fa-instagram::before {
  padding: 8px 9px;
}

.fa-twitter {
  margin-inline: 20px;
}

@media (min-width: 480px) {
  .container {
    justify-items: center;
  }
  .logo {
    width: 180px;
  }
  .mockups {
    padding-inline: 10%;
  }
  .register-box {
    padding-inline: 19%;
  }
  .register-box h1 {
    font-size: 2rem;
  }
  .register-box p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  html,
  body {
    min-height: 100vh;
  }
  body {
    background-image: url(./images/bg-desktop.svg);
    background-size: cover;
    background-size: auto 100%;
    background-position: bottom right;
    overflow: hidden;
  }

  .container {
    width: 100vw;
    margin: 0;
    min-width: unset;
    max-width: unset;
    display: grid;
    grid-template-columns: 49vw auto;
    grid-template-rows: 1fr;
    grid-template-areas: 'mockups register-box';
    column-gap: 40px;
    padding: 0px 70px 0 60px;
    align-items: start;
  }

  .logo {
    width: 220px;
    margin: 40px auto 0 60px;
    padding: 0;
  }

  .mockups {
    padding: 0;
  }

  .register-box {
    padding: 0;
    margin-top: 40px;
    text-align: start;
    align-items: flex-start;
  }

  .register-box h1 {
    font-size: 2rem;
  }

  .register-box p {
    font-size: 1.125rem;
  }

  .register-box a {
    padding: 0.6875em 4em;
    font-size: 1.125rem;
    margin-left: 15px;
  }

  footer {
    margin: 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }

  footer ul {
    margin-right: 85px;
  }

  .icon {
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
  }
  .icon::before {
    padding: 8px;
  }

  .fa-facebook-f::before {
    padding: 8px 12px;
  }
}

@media (min-width: 1200px) {
  body {
    background-size: 90% 105%;
    background-position: 0px -45px;
  }

  .container {
    width: 100vw;
    column-gap: 50px;
    padding: 0 90px 0 80px;
  }

  .logo {
    width: 220px;
    margin: 60px auto 0 80px;
  }

  .register-box h1 {
    font-size: 2.375rem;
  }
}
